---
import ABody from "../analytics/ABody.astro";
import AHead from "../analytics/AHead.astro";
import SEO from "../analytics/SEO.astro";
import "../lib/css/form.css";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
    <AHead />
  </head>
  <body class="bg-neutral-50 text-neutral-950 font-sans leading-relaxed">
    <ABody />
    <slot />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script is:inline>
      var swiper = new Swiper(".talleresSwiper", {
        slidesPerView: "auto",
        spaceBetween: 20,
      });
    </script>
  </body>
</html>

<style is:global>
  h2,
  .h2 {
    @apply text-4xl font-bold mb-4 text-balance;
  }

  .card {
    @apply border border-neutral-300 rounded-lg p-5;
  }

  .badge {
    @apply border border-neutral-300 rounded px-2;
  }
</style>
